.main
{
    width: 100%;
    background-color: lightskyblue;
    border: 1px;
    border-color: blue;
    display: flex;
    flex-direction: row;
     
}
.left
{
    width: 30%;
    display: flex;
    flex-direction: row;
}
.right
{
    width: 70%;
    display: flex;
    flex-direction: row;    
    justify-content: flex-end;
}
.link
{
    margin: 5px;
}

.login
{
    margin: 5px;    
}
